.Collapsible {
	overflow: hidden;
	transition: 0.5s;
	border: 1px solid black;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
	text-align: center;
}
.Collapsible span {
	font-size: 1.1rem;
}

.Collapsible ul {
	display: flex;
	list-style: none;
	padding: 0;
	flex-flow: column nowrap;
	justify-content: center;
	transition: 0.5s ease-out;
}
.Collapsible ul > li {
	border-bottom: 1px solid black;
}
.Collapsible ul > li:hover {
	border-bottom: 1px solid white;
	text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
		0px -5px 35px rgba(255, 255, 255, 0.3);
}
.Collapsible.Collapsible_closed ul {
	opacity: 0;
	pointer-events: none;
}
.Collapsible.Collapsible_opened {
	height: fit-content;
}
