h1,
h2,
h3 {
	text-align: center;
	padding: 10px;
}
h1 {
	font-size: 3em;
}
main {
	padding: 2rem;
}
.info {
	display: none;
}
.Code {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 10px;
	font-family: 'Courier New', monospace;
}
